 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #16a085;
    
}

.menu{
    position: relative;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
}

.logo{
    position: absolute;
    left: 80px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
     font-family: sans-serif;
}

header .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li{
    list-style: none;
    margin: 0 10px;
}

header .navigation li a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin: 0 10px;

}

.side-bar{
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 0px;
    /* bottom: 0px; */
    display: none;
    border-radius: 10px;
    background: #16a085;
    transition: 0.5s;
}

.side-bar ul{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 50px;
}

.side-bar ul li{
    position: relative;
    list-style: none;
    width: 100%;

}

.side-bar ul li a{
    position: relative;
    display: inline-block;
    width: 80%;
    text-decoration: none;
    margin: 10px 10px;
    background: #fff;
    padding-right: 15px;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 15px;
}

.side-bar:target{
    bottom: 0px;
    overflow: auto;
    width: 300px;
    display: block;
}

.menu2 {
    position: relative;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
}

.container{
    margin-top: 100px;
     font-family: sans-serif;
}


.table1{
    position: relative;
    top: 200px;
    font-family: sans-serif;
    color: #232323;
    padding: 8px 20px;
    width: 1300px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}
 .button1 {
    font-family: sans-serif;
    font-size: 15px;
    background: #006c1e;
    color: white;
    border-radius: 5px;
    padding: 12px 20px;
    position: absolute;
    right: 50px;
    top: 400px;

 }
 .rectangle {
    display: grid;
    width: 1330px;
    height: 500px;
    background: #6b8b40;
    border-radius: 5px;
}

.aksi{
    font-family: sans-serif;
    font-size: 15px;
    background: #006c1e;
    color: white;
    padding: 10px 15px;
}
